{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
<main>
    <h1>Create new Product</h1>

    {{ include('provider/product/_form.html.twig') }}

    <a href="{{ path('provider_product_index') }}">back to list</a>
</main>
{% endblock %}
