{% extends 'base.html.twig' %}

{% block title %}Edit Brand{% endblock %}

{% block body %}
    <h1>Modifier ma marque</h1>

    {{ include('provider/brand/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('provider_brand_index') }}">back to list</a>

    {# {{ include('brand/_delete_form.html.twig') }} #}
{% endblock %}
